player-connection-mode=Listen
player-connection-guid=2582667185
player-connection-debug=0
player-connection-project-name=Hafta 11 Odev
player-connection-ip=172.26.80.1
player-connection-ip=192.168.1.44
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fb3607614e424c96a326d1d7cfdeddaa
